body{
    background-color:#1b1b1b;
    font-family: Tahoma;
    margin:0;
}

.navbar{
    display: flex;
    align-self: flex-start;
    background-color: black;
    padding:0;
}

.navbar h1{
    color: white;
}

.navbar ul{
    display: block;
    list-style: none;
    color: white;
    text-align: center; 
    padding: 15px;
}

.navbar li:hover{
    background-color: gray;
}