body{
    background-color: #1a1a1a;
    margin: 20px;
}

header{
    display: flex;
}

#list1, #list2{
    color:white;
    font-family:Tahoma, sans-serif;
    font-size: 50px;
    text-align: center;
}

li{
    list-style: none;
    color: white;
    font-family:Tahoma, sans-serif;
    font-size: 15px;
    font-weight:600;
    margin: 10px;
    text-align: center;
}

ul{
    padding-left: 0;
}

hr{
    height:10px;
    width: 90%;
    background-color:#4d4d4d;
    border: solid #4d4d4d 0;
    border-radius: 15px;
}
